<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Machine Learning Model</title>

    <!-- Quick Start: CSS-->>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

</head>
<body>
    <div class="login">

      <h2>Match Prediction</h2>

      <p>Select the Teams to Predict</p>
      
    <form action="{{ url_for('predict')}}" method="post"> 

      <label for="team-names">Choose Predicting Team:</label>

      <select name="predict-team-names" id="predict-team-names">
        <option value="1838315">Team Secret</option>
        <option value="2586976">OG</option>
        <option value="2163">Team Liquid</option>
        <option value="7732977">Boom Esports</option>
        <option value="15">PSG.LGD</option>
        <option value="7119388">Team Spirit</option>
        <option value="8254400">Beastcoast</option>
        <option value="6209166">Team Aster</option>
        <option value="7391077">Thunder Awaken</option>
        <option value="8260983">TSM</option>
        <option value="8291895">Tundra Esports</option>
        <option value="7390454">Soniqs</option>
        <option value="8599101">Gaimin Gladiators</option>
        <option value="39">Evil Geniuses</option>
        <option value="350190">Fnatic</option>
        <option value="team_id">Hokori</option>
        <option value="8605863">Entity</option>
        <option value="8721219">BetBoom Team</option>
        <option value="6209804">Royal Never Give Up</option>
        <option value="8597976">Talon Esports</option>
      </select>

      <h2>VS</h2>

      <label for="team-names">Choose Opposing Team:</label>

      <select name="opposing-team-names" id="opposing-team-names">
        <option value="1838315">Team Secret</option>
        <option value="2586976">OG</option>
        <option value="2163">Team Liquid</option>
        <option value="7732977">Boom Esports</option>
        <option value="15">PSG.LGD</option>
        <option value="7119388">Team Spirit</option>
        <option value="8254400">Beastcoast</option>
        <option value="6209166">Team Aster</option>
        <option value="7391077">Thunder Awaken</option>
        <option value="8260983">TSM</option>
        <option value="8291895">Tundra Esports</option>
        <option value="7390454">Soniqs</option>
        <option value="8599101">Gaimin Gladiators</option>
        <option value="39">Evil Geniuses</option>
        <option value="350190">Fnatic</option>
        <option value="team_id">Hokori</option>
        <option value="8605863">Entity</option>
        <option value="8721219">BetBoom Team</option>
        <option value="6209804">Royal Never Give Up</option>
        <option value="8597976">Talon Esports</option>
      </select>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict!</button>
    </form>

      <br>
      <br>
      <b> {{ prediction_text }} </b>

    </div>
    
</body>
</html>

